nav {
  position: fixed;
  z-index: 9999;
  max-width:100vw;
  width: 100%;
  padding: 0.7rem 2rem!important;
  margin: 0 auto;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.15);
  img {
    width: 40px;
    border-radius: 50%;
    cursor:pointer;
  }
  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
    }
    h3 {
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding-left: 0.6rem;
      span{display:none;}
    }
  }
  ul {
    margin-top:1rem;
    text-align:right;
    li {
      list-style: none;
      border-top:1px solid gray;
      letter-spacing:2px;
      padding:1rem 0rem;
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #000;
        &:hover {
          color: rgb(110, 108, 108);
          transition: all 0.4s;
        }
      }
    }
  }
  .open {
    display: none;
  }
}

header {
  position: relative;
  text-align: center;
  img {
    min-width: 100vw;
    width: 100%;
    height: 120vh;
  }
  section {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    h1 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1rem;
      margin: 3rem 0rem;
    }
  }
  .moving-mouse-holder {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin: auto;
    margin-top: 60px;
    width: 170px;
  }

  .moving-mouse-holder .mouse {
    width: 26px;
    height: 40px;
    position: relative;
    right: 0;
    border-radius: 18px;
    border: 2px solid #fff;
  }

  .moving-mouse-holder .mouse-button {
    background-color: #fff;
    width: 4px;
    height: 10px;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin: 0 0 0 -2px;
    animation: mouse-scroll 1s infinite alternate;
  }
  @keyframes mouse-scroll {
    to {
      transform: translate(0, 6px) scale(1, 0.8);
      opacity: 0.1;
    }
  }
}

//desktop layout

@media only screen and (min-width: 767px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    section {
      display: flex;
      align-items: center;
      img {
        display: block;
        width: 5%;
        border-radius: 50%;
      }
      .hamburger-react {
        display: none;
      }
      h3 {
        display: block !important;
        span{display:inline;}

      }
    }
    ul {
      display: flex !important;
      align-items: center;
      flex-direction: row;
      margin:0;
      li{
        border:none;
        padding:0;
        padding: 0rem 1rem;

      }
    }
  }
    header {
      position: relative;
      text-align: center;
      img {
        width: 100%;
        height: 100vh;
      }
      section {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        h1 {
          font-size: 3rem;
        }
        p {
          font-size: 1.4rem;
          margin: 3rem 0rem;
        }
      }
    }
  }

