*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Roboto', sans-serif;
    /* overflow:hidden; */
}
.App-wrap{
    min-width:100vw;
    width:100%;
}